<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script type="module" src="/js/index.js" defer></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Daily Blog | Create Your Blog Post</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-nav  px-5" aria-label="Daily blog navbar ">
    <div class="container-fluid">
      <a class="navbar-brand col-lg-6 me-0 text-light" href="/">Daily Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse col-lg-6" id="navbarsExample11">
        <ul class="navbar-nav w-100">
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/blogs">Blogs</a>
          </li>
          <li class="nav-item ms-lg-auto ">
            <a class=" d-none d-lg-inline-block btn text-light bg-black " href="/form">Create New Post</a>
            <a class=" d-lg-none text-light nav-link" href="/form">Create New Post</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   